#es-rc #es-rc-content {
  font-family: "Futura Demi", sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.2;
  max-width: 680px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  color: #000000;
  background-color: #FFFFFF;
}

#es-rc #es-rc-content ::selection {
  background-color: #000000;
}

#es-rc #es-rc-content * {
  box-sizing: border-box;
}

#es-rc #es-rc-content img {
  max-width: 100%;
  margin: 0 auto;
  display: block;
}

#es-rc #es-rc-content .es-kv {
  color: #ffffff;
}
#es-rc #es-rc-content .es-kv__content {
  display: none;
}

#es-rc #es-rc-content .es-kv__text {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.6;
}
#es-rc #es-rc-content .es-kv__text-normal {
  font-family: "Futura Book", sans-serif;
  font-weight: 400;
  text-transform: none;
}

#es-rc #es-rc-content .es-kv__content-mobile {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 60%;
  margin-bottom: 30px;
}
#es-rc #es-rc-content .es-kv__img-logo {
  padding-top: 40px;
  padding-bottom: 10px;
}

#es-rc #es-rc-content .es-kv__content-mobile .es-kv__text {
  text-align: center;
  padding: 0 10px;
}

#es-rc #es-rc-content .es-cross {
  padding: 20px 0;
}

#es-rc #es-rc-content .es-cross__title {
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 700;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

#es-rc #es-rc-content .es-cross__wrapper {
  display: none;
}

#es-rc #es-rc-content .es-cross__single {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  max-width: 150px;
}

#es-rc #es-rc-content .es-cross-mobile .es-cross__single {
  height: 326px;
}

#es-rc #es-rc-content .es-cross__single-img img {
  max-height: 180px;
}

#es-rc #es-rc-content .es-cross__single-text {
  text-align: center;
  margin-top: 20px;
  font-weight: 700;
}

#es-rc #es-rc-content .es-cross__single-link p {
  color: #FFFFFF;
  background-color: #000000;
  padding: 8px 35px;
  border: 1px solid #000000;
  text-transform: uppercase;
  border-radius: 20px;
  font-size: 13px;
}

#es-rc #es-rc-content .es-cross__single-link a {
  text-decoration: none;
}

#es-rc #es-rc-content .es-cross-mobile {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

#es-rc #es-rc-content .es-cross__single {
  margin-left: auto;
  margin-right: auto;
}

#es-rc #es-rc-content .es-swiper {
  width: 300px;
  height: 350px;
}

#es-rc #es-rc-content .es-swiper-button-prev,
#es-rc #es-rc-content .es-swiper-button-next {
  color: #C62A1E;
  width: 40px;
}

#es-rc #es-rc-content .es-swiper-button-prev::after,
#es-rc #es-rc-content .es-swiper-button-next::after {
  font-size: 35px;
}

#es-rc #es-rc-content .swiper-pagination-bullet-active {
  background: #C62A1E;
}

#es-rc #es-rc-content .es-formula {
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 25px;
  background-position: right;
}

#es-rc #es-rc-content .es-formula__content {
  text-align: center;
  color: #FFFFFF;
  text-transform: uppercase;
}

#es-rc #es-rc-content .es-formula__content--new {
  background-color: #000000;
  display: inline-block;
  margin-top: 35px;
  margin-bottom: 0;
  padding: 5px 10px;
  font-weight: 700;
}

#es-rc #es-rc-content .es-formula__content--title {
  font-weight: 700;
  font-size: 25px;
  margin: 15px 0 0 0;
}

#es-rc #es-rc-content .es-formula__content--subtitle {
  font-size: 21px;
  margin: 0;
}

#es-rc #es-rc-content .es-formula__content--disclaimer {
  text-transform: none;
  font-family: "Futura Book", sans-serif;
}

#es-rc #es-rc-content .es-formula__content--link {
  color: #FFFFFF;
  background-color: #000000;
  padding: 5px 23px;
  border: 1px solid #000000;
  text-transform: uppercase;
  border-radius: 20px;
  font-size: 12px;
  display: inline-block;
}

#es-rc #es-rc-content .es-formula__content--link a {
  text-decoration: none;
}

#es-rc #es-rc-content .es-results {
  background-repeat: no-repeat;
  background-size: 0;
  background-position: bottom;
  padding: 0 25px;
  margin-top: 20px;
  text-align: center;
}

#es-rc #es-rc-content .es-results__img {
  margin-top: 10px;
}

#es-rc #es-rc-content .es-results__title {
  font-size: 21px;
  margin-bottom: 10px;
  margin-top: 0;
}

#es-rc #es-rc-content .es-results__percent {
  font-size: 45px;
  font-weight: 700;
  margin: 0;
}

#es-rc #es-rc-content .es-results__text {
  margin-top: 0;
  margin-bottom: 20px;
}

#es-rc #es-rc-content .es-results__disclaimer {
  margin: 0;
  font-size: 11px;
}

@media screen and (min-width: 1200px) {
  #es-rc #es-rc-content {
    max-width: 1280px;
  }

  #es-rc #es-rc-content .es-kv {
    padding-bottom: 10px;
  }

  #es-rc #es-rc-content .es-kv__content {
    position: relative;
    display: block;
  }
  #es-rc #es-rc-content .es-kv__content-mobile {
    display: none;
  }

  #es-rc #es-rc-content .es-kv__text {
    position: absolute;
    bottom: 15%;
    left: 60px;

  }

  #es-rc #es-rc-content .es-cross {
    padding: 30px 0;
  }

  #es-rc #es-rc-content .es-cross-mobile {
    display: none;
  }

  #es-rc #es-rc-content .es-cross__wrapper {
    display: flex;
    justify-content: space-between;
  }

  #es-rc #es-rc-content .es-cross__title {
    margin-bottom: 30px;
  }

  #es-rc #es-rc-content .es-cross__single {
    max-width: 195px;
  }

  #es-rc #es-rc-content .es-cross__single-text {
    font-size: 20px;
  }

  #es-rc #es-rc-content .es-cross__single-img img {
    max-height: 200px;
  }

  #es-rc #es-rc-content .es-cross__single:nth-child(2) .es-cross__single-img img,
  #es-rc #es-rc-content .es-cross__single:nth-child(3) .es-cross__single-img img {
    max-height: 140px;
  }

  #es-rc #es-rc-content .es-cross__single-link p {
    padding: 10px 50px;
    font-size: 15px;
  }

  #es-rc #es-rc-content .es-formula {
    background-position: unset;
    background-size: cover;
    padding: 25px 0 50px 0;
  }

  #es-rc #es-rc-content .es-formula__content {
    width: 50%;
    position: relative;
    left: 50%;
    text-align: left;
  }

  #es-rc #es-rc-content .es-formula__content--new {
    display: inline-block;
    margin-top: 35px;
    margin-bottom: 0;
    padding: 5px 10px;
    font-size: 25px;
  }

  #es-rc #es-rc-content .es-formula__content--title {
    font-size: 36px;
    margin: 15px 0 0 0;
  }

  #es-rc #es-rc-content .es-formula__content--subtitle {
    font-size: 30px;
  }

  #es-rc #es-rc-content .es-formula__content--text {
    font-size: 25px;
  }

  #es-rc #es-rc-content .es-formula__content--link {
    padding: 8px 40px;
    font-size: 18px;
    margin-top: -3px;
  }

  #es-rc #es-rc-content .es-results {
    background-size: contain;
    background-position: 80% bottom;
    padding: 15px 35px;
    margin-top: 20px;
    text-align: left;
  }

  #es-rc #es-rc-content .es-results__title {
    font-size: 30px;
  }

  #es-rc #es-rc-content .es-results__text {
    font-size: 21px;
  }

  #es-rc #es-rc-content .es-results__disclaimer {
    font-size: 13px;
  }

  #es-rc #es-rc-content .es-results__img {
    display: none;
  }

}